<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="5" name="Error Validations Test">
        <classes>
            <class name="com.automation.dental.tests.LoginErrorValidation"/>
        </classes>
    </test>

    <!--<test thread-count="5" name="Login Test">
        <classes>
            <class name="com.automation.dental.tests.Demo"/>
        </classes>
    </test>-->
</suite> <!-- Suite -->